<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48500871705-4qlcudkeiq5ge7fcp41m5q57r6aj1b2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48500871705-4qlcudkeiq5ge7fcp41m5q57r6aj1b2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCqtxL7Jsey_BtAs3EkVUqKnOFjfdeoO1A</string>
	<key>GCM_SENDER_ID</key>
	<string>48500871705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamidraza.ggapp</string>
	<key>PROJECT_ID</key>
	<string>go-grab-13dac</string>
	<key>STORAGE_BUCKET</key>
	<string>go-grab-13dac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48500871705:ios:dafa8e39b54a5b021d1088</string>
</dict>
</plist>